<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Cadastro</title>
    <style>
        body {
            text-align: center;
            margin-top: 50px;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <img src="/static/image_1.jpg" alt="Minha Imagem" width="400">

    <h2>Sistema de Cadastro</h2>

    <form method="POST" action="/confirmar">
        <input type="text" name="nome" placeholder="Nome" required> <br><br>
        <input type="text" name="sobrenome" placeholder="Sobrenome" required> <br><br>

        <input type="number" name="idade" min="18" max="120" placeholder="Idade" required> <br><br>

        <input type="text" name="local" placeholder="Local (Cidade/Estado)" required> <br><br>
        <input type="email" name="email" placeholder="E-mail" required> <br><br>

        <input type="password" name="senha" placeholder="Senha" minlength="8" required> <br><br>
        <input type="password" name="confirmacao" placeholder="Confirmar Senha" minlength="8" required> <br><br>

        <button type="submit">Cadastrar e Salvar</button>
    </form>

</body>
